.el-header {
    background-color: rgb(84, 92, 100);
    color: #333;
    line-height: 60px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.headerBox{
    display: flex;
    justify-content: space-between;
}
.toggle-icon>i{
    color: #fff;
    cursor: pointer;
}
.left_header {
    width: 100%;
    height: 60px;
    padding-left: 30px;
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    >h1 {
        color: #fff;
    }

}

.el-icon-setting {
    color: #fff;
    cursor: pointer;
}

.userName {
    color: #fff;
}

.el-dropdown {
    line-height: 60px;
    display: inline-block;
    position: relative;
    color: #606266;
    font-size: 14px;

    .el-icon {
        color: #fff;
        margin-right: 16px;
        cursor: pointer;
        outline: none !important;
    }
}
